<app-navigation></app-navigation>
<header class="header-section">
  <div class="header-content">
    <div class="frame fontFira">
      <div class="center">
        <div class="carousel">
          <div class="change_outer">
            <div class="change_inner">
              <div class="element">Web Development</div>
              <div class="element">Digital Transformation</div>
              <div class="element">Project Management</div>
              <div class="element">Design</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="fontKarla">Louisa Mücher</h1>
  </div>
  <div class="btn fontKarla">
    <button>Check my work</button>
    <button>Contact me</button>
  </div>

  <div class="contact">
    <a class="mail fontKarla" href="mailto:info&#64;louisa-muecher.de"
      >info&#64;louisa-muecher.de</a
    >
    <a
      class="contact-btn github"
      href="https://github.com/LouisaMuecher"
      target="_blank"
      ><img src="./../../assets/img/github.svg" alt="github"
    /></a>
    <a
      class="contact-btn linkedin"
      href="https://www.linkedin.com/in/louisa-m%C3%BCcher-6088581b8/"
      target="_blank"
      ><img src="./../../assets/img/linkedin.svg" alt="linkedin"
    /></a>
  </div>
  <img
    class="v-line-short"
    src="./../../assets/img/vertical-line-short.svg"
    alt="vertical-line"
  />

  <div class="image-container">
    <img [src]="currentImage" />
  </div>
  <img
    class="v-line-long"
    src="./../../assets/img/vertical-line-long.svg"
    alt="vertical-line"
  />

  <div class="marquee-container">
    <div class="marquee fontKarla">
      <span style="white-space: pre">•</span><span style="white-space: pre">Based in Düsseldorf</span><span style="white-space: pre">•</span><span style="white-space: pre">Web Development</span><span style="white-space: pre">•</span><span style="white-space: pre">Works for Red Dot Design Award</span><span style="white-space: pre">•</span>
      <span style="white-space: pre">Based in Düsseldorf</span><span style="white-space: pre">•</span><span style="white-space: pre">Web Developer</span><span style="white-space: pre">•</span><span style="white-space: pre">Works for Red Dot Design Award</span><span style="white-space: pre">•</span>
    </div>
  </div>
  
</header>
