<footer class="footer">
  <div class="footer-left">
    <img src="./../../../assets/img/logo.png" alt="Logo" class="footer-logo">
    <div class="footer-info">
      <p class="job-title fontKarla">{{ 'FOOTER.JOB-TITLE' | translate }}</p>
      <p class="location fontKarla">{{ 'FOOTER.LOCATION' | translate }}</p>
    </div>
  </div>

  <div class="footer-center">
    <p class="copyright fontFira">© Louisa Mücher 2024</p>
  </div>

  <div class="footer-right">
    <nav class="footer-nav">
      <a href="https://github.com/LouisaMuecher" target="_blank" class="fontKarla">Github</a>
      <a href="https://www.linkedin.com/in/louisa-muecher/" target="_blank" class="fontKarla">LinkedIn</a>
      <a href="mailto:info@louisa-muecher.de" class="fontKarla">Email</a>
      <a href="/legal-notice" class="fontKarla">{{ 'FOOTER.LEGAL-NOTICE' | translate }}</a>
    </nav>
  </div>
</footer>