<div id="about" class="about">
  <div class="image-container">
    <img class="profile-img" src="./../../assets/img/lom.png" alt="" />
    <img class="hover-img" src="./../../assets/img/lines.png" alt="" />
  </div>
  <div class="text-section">
    <p class="subtitle fontKarla">{{ 'ABOUT.SUBTITLE' | translate }}</p>
    <div class="text-box" [ngClass]="{'de-text': currentLanguage === 'DE', 'en-text': currentLanguage === 'EN'}">
      <h2 class="fontFira">{{ 'ABOUT.TITLE' | translate }}</h2>
      <p class="fontKarla">
        {{ 'ABOUT.TEXT-1' | translate }}
        <br><br>
        {{ 'ABOUT.TEXT-2' | translate }}
      </p>
    </div>
  </div>
</div>
