.projects-container {
  padding: 4rem 6rem;
  background-color: #1c1c1c;
  min-height: 100vh;
  color: white;
  margin: 0 auto;
}

.portfolio-label {
  color: #4fd1c5;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.featured-title {
  color: #4fd1c5;
  font-size: 64px;
  margin-bottom: 1rem;
  font-weight: 700;
}

.subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4rem;
  max-width: 600px;
  line-height: 21.6px;
}

.projects-section {
  display: flex;
  gap: 4rem;
  position: relative;
}

.projects-list {
  .project-item {
    width: 700px;
    text-decoration: none;
    color: #fff;
    padding: 40px 32px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #3DCFB6;
  
    &:hover {
      background-color: #3DCFB64D;
    }
  }

  .project-title, .project-tech, .divider {
    transition: color 0.3s ease;
    background-color: transparent;
  }

  .project-title {
    font-size: 24px;
    font-weight: 700;
  }

  .project-tech {
    font-size: 18px;
    font-weight: 400;
  }

  .project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.preview-container {
  position: sticky;
  top: 4rem;
  flex: 1;
  height: fit-content;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.3s ease forwards;

  .preview-image {
    width: 400px;
    height: auto;
    border-radius: 8px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .projects-section {
    flex-direction: column;
  }

  .preview-container {
    display: none; // Versteckt die Preview auf mobilen Geräten
  }
}