<div class="projects-container">
  <p class="portfolio-label fontKarla">Portfolio</p>
  <h1 class="featured-title fontFira">{{ 'PROJECTS.TITLE' | translate }}</h1>
  <p class="subtitle fontKarla">Explore a selection of my work here - interact with projects to see my skills in action.</p>

  <div class="projects-section">
    <div class="projects-list">
      <div *ngFor="let project of projects" 
           class="project-item" 
           (mouseenter)="showPreview(project)"
           (mouseleave)="hidePreview()"
           (click)="openProjectDetails(project)">
        <div class="project-content">
          <h3 class="project-title fontFira">{{ project.title }}</h3>
          <p class="project-tech fontKarla">{{ project.technologies.join(' | ') }}</p>
        </div>
        <div class="divider"></div>
      </div>
    </div>

    <div class="preview-container" *ngIf="previewProject">
      <img [src]="previewProject.image" [alt]="previewProject.title" class="preview-image">
    </div>
  </div>
</div>
<app-project-details 
  *ngIf="selectedProject" 
  [project]="selectedProject"
  [projects]="projects"
  (onClose)="closeProjectDetails()"
  (onNextProject)="handleNextProject($event)">
</app-project-details>