<div class="contact-container">
    <div class="contact-left">
      <p class="contact-label fontKarla">{{ 'CONTACT.CONTACT' | translate }}</p>
      <h1 class="contact-title fontFira">{{ 'CONTACT.TITLE' | translate }}</h1>
      <h2 class="contact-subtitle fontFira">{{ 'CONTACT.SUBTITLE' | translate }}</h2>
      <p class="contact-text fontKarla">
        {{ 'CONTACT.TEXT' | translate }}
      </p>
      <p class="contact-cta fontKarla">
        {{ 'CONTACT.CTA' | translate }} <span class="highlight">{{ 'CONTACT.CTA-1' | translate }}</span>
      </p>
    </div>
  
    <div class="contact-right">
      <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div class="form-group">
          <label class="fontFira">{{ 'CONTACT.FORM.NAME' | translate }}</label>
          <input 
            type="text" 
            name="name" 
            [(ngModel)]="formData.name" 
            required 
            placeholder="Your name goes here"
          >
        </div>
  
        <div class="form-group">
          <label class="fontFira">{{ 'CONTACT.FORM.EMAIL' | translate }}</label>
          <input 
            class="fontKarla"
            type="email" 
            name="email" 
            [(ngModel)]="formData.email" 
            required 
            placeholder="youremail@email.com"
          >
        </div>
  
        <div class="form-group">
          <label class="fontFira">{{ 'CONTACT.FORM.MESSAGE' | translate }}</label>
          <textarea 
            class="fontKarla"
            name="message" 
            [(ngModel)]="formData.message" 
            required 
            placeholder="Hello Louisa, I am interested in..."
            rows="5"
          ></textarea>
        </div>
  
        <div class="privacy-check">
          <input 
            class="fontKarla"
            type="checkbox" 
            name="privacy" 
            [(ngModel)]="formData.privacy" 
            required
            id="privacy"
          >
          <label for="privacy">
            {{ 'CONTACT.FORM.PRIVACY-1' | translate }} <a href="#" class="privacy-link">{{ 'CONTACT.FORM.PRIVACY-2' | translate }} </a> {{ 'CONTACT.FORM.PRIVACY-3' | translate }} 
          </label>
        </div>
  
        <button type="submit" [disabled]="!contactForm.valid">{{ 'CONTACT.FORM.SUBMIT' | translate }}</button>
      </form>
    </div>
  </div>
  