<div id="skills" class="skills-section">
  <div class="text-section">
    <p class="subtitle fontKarla">{{ 'SKILLS.SUBTITLE' | translate }}</p>
    <div class="text-box">
      <h2 class="fontFira">{{ 'SKILLS.TITLE' | translate }}</h2>
      <p class="fontKarla">
        {{ 'SKILLS.TEXT' | translate }}
      </p>
      <p class="fontFira subtitle-2">
        <span class="first">{{ 'SKILLS.SUBTITLE-2-FIRST' | translate }}</span>
        <span class="second">{{ 'SKILLS.SUBTITLE-2-SECOND' | translate }}</span>
      </p>
      <p>
        {{ 'SKILLS.SUBTITLE-2-TEXT' | translate }}
      </p>
      <div class="btn fontKarla">
        <button>{{ 'SKILLS.BTN-CONTACT' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="skills-icons">
    <div class="skill-item">
      <img src="./../../assets/img/html.svg" alt="html-icon" />
      <p class="fontFira">HTML</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/css.svg" alt="css-icon" />
      <p class="fontFira">CSS</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/javascript.svg" alt="javascript-icon" />
      <p class="fontFira">JavaScript</p>
    </div>
    <div class="skill-item">
      <img
        src="./../../assets/img/material-design.svg"
        alt="material-design-icon" />
      <p class="fontFira">Material Design</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/typescript.svg" alt="typescript-icon" />
      <p class="fontFira">TypeScript</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/angular.svg" alt="angular-icon" />
      <p class="fontFira">Angular</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/firebase.svg" alt="firebase-icon" />
      <p class="fontFira">Firebase</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/git.svg" alt="git-icon" />
      <p class="fontFira">GIT</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/api.svg" alt="api-icon" />
      <p class="fontFira">REST API</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/scrum.svg" alt="scrum-icon" />
      <p class="fontFira">Scrum</p>
    </div>
    <div class="skill-item">
      <img src="./../../assets/img/sql.svg" alt="sql-icon" />
      <p class="fontFira">SQL</p>
    </div>
    <div class="skill-item">
        <img
          src="./../../assets/img/growth-mindset.svg"
          alt="growth-mindset-icon" />
        <p class="fontFira">Growth mindset</p>
        <div class="speech-bubble">
          <span>{{ 'SKILLS.SPEECH-BUBBLE' | translate }}</span>
        </div>
      </div>
  </div>
</div>
