<nav class="fontFira">
    <div class="language-switch" [class.de]="currentLanguage === 'DE'" (click)="toggleLanguage()">
        <span class="switch-option" [class.active]="currentLanguage === 'EN'">EN</span>
        <span class="switch-option" [class.active]="currentLanguage === 'DE'">DE</span>
      </div>
    <div class="menu">
        <a href="#">{{ 'HEADER.ABOUT' | translate }}</a>
        <a href="#">{{ 'HEADER.SKILLS' | translate }}</a>
        <a href="#">{{ 'HEADER.PROJECTS' | translate }}</a>
        <a href="#">{{ 'HEADER.CONTACT' | translate }}</a>
    </div>
    <a href="#"><img src="./../../../assets/img/logo.png" alt=""></a>
</nav>